@charset "UTF-8";
@import url(font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Orbitron';

@-ms-viewport {
  width: device-width;
}

* {
  font: 400 15px/2 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

body {
  padding-top: 72px;
  padding-bottom: 20px;
}

/* Nav Bar */
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: #F44336;
  letter-spacing: 2px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-brand {
  font-weight: 700;
}

.navbar li a, .navbar .navbar-brand {
  color: #ffffff !important;
}

.navbar-nav li a:hover {
  color: gray;
}

/* End Nav Bar */

/* Pokemon Type Badge */
.grass {
  background: limegreen;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.water {
  background: mediumblue;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.bug {
  background: forestgreen;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.poison {
  background: rebeccapurple;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.electric {
  background: cornflowerblue;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.ghost {
  background: lightgrey;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.ice {
  background: lightblue;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.normal {
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.rock {
  background: saddlebrown;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.psychic {
  background-color: blueviolet;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.fighting {
  background: brown;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.fire {
  background: orange;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.dark {
  background: darkslategrey;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.steel {
  background: darkgray;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

.fairy {
  background: pink;
  text-transform: uppercase;
  padding: 0.2em 1.5em 0.2em 1.5em;
}

/* End Pokemon Type Badge */

/* Pokemon Cards */
.pokemon-card {
  margin: 10px 0 0 0;
  background-color: lightgray;
  border-radius: 3px;
}

.pokemon-card img {
  width: 100%;
  height: 100%;
}

.pokemon-card h1, .pokemon-card h2 {
  text-transform: capitalize;
}

.pokedex-id{
  background: url('../img/tab.png') center no-repeat;
  margin-bottom: 0;
  color: gray;
  padding-top: 8px;
  height: 42px;
}

.pokemon-card > .pokemon-info {
  background: white;
  padding: 1em;
}

/* End Pokemon Cards */
